* {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.default {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.idCard {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;

  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.greeting {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.boxcolor {
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 40px;

  display: flex;
  justify-content: center;
}

.creditcard {
  aspect-ratio: 16/9;
  height: 128px;
  margin: 5px;
  border-radius: 8px;
  padding: 10px;
  font-size: 0.8rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.creditcard h1, .creditcard h2 {
  align-self: flex-end;
}

.drivercard {
  background-color: #5b62e3;
  color: white;
  margin: 5px;
  padding: 8px;
  border-radius: 16px;

  display: flex;
  justify-content: center;
}

.circleborder {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 128px;
  object-fit: cover;
}

.driverdata {
  margin: auto 5px;
}.driverdata * {
  margin: 2px;
}